<div class="panel panel-primary">
		<div class="panel-heading" >
			<h4>Registro de venta</h4>
		</div>
		 <div class="panel-body">
		<div style="float: right">FOLIO: <span id ="folio"></span></div>
				
				<div id ="busqueda_ventas"></div>
				<div id="agregar_producto_ventas"></div>
				

				<div id="importe" class="panel panel-default" >
					<span>Enganche: <p id= "enganche"></p></span>
					<span>Bonificacion de Enganche: <p id= "bonificacion"></p></span>
					<span>Total: <p id= "total_adeudo"></p></span>
				</div>
				<div id ="abonos" class="panel panel-default">
					<div class="panel panel-default">
						<div class="panel-heading">ABONOS MENSUALES</div>

						<table class="table table-hover" id="tabla_abonos">

						</table>
					</div>
				</div>
				 <div id ="mensaje"></div>

				<div>
						 <button type="submit" class="btn btn-primary" id="regresar_ventas">Regresar</button>
						  <button type="submit" class="btn btn-primary" id="siguiente_ventas">Siguiente</button>
						  <button type="submit" class="btn btn-primary" id="guardar_ventas">Guardar</button>
				</div>
		</div>
	</div>