<form class="form-horizontal" method ="POST" id="articulos_formulario">
	
				  <div class="form-group">
				  	 <div class="col-sm-4">
					    <label class="sr-only" for="busquedacliente">Buscar Cliente</label>
					    <div class="input-group">
					      <div class="input-group-addon">Cliente</div>
					      <input type="text" class="form-control" id="busqueda_cliente" placeholder="Busqueda">
					    </div>
					  </div>
					  <div id ="rfc"></div>
				  </div>
				  <div class="form-group">
				  	<div class="col-sm-4">
					    <label class="sr-only" for="busquedaproducto">Buscar Articulo</label>
					    <div class="input-group">
					      <div class="input-group-addon">Articulo</div>
					      <input type="text" class="form-control" id="busqueda_articulo" placeholder="Busqueda">
					    </div>
					 </div>
					   <button type="submit" class="btn btn-primary" id="agregar_productos_detalle_venta">Agregar Producto</button>
				  </div>
	
</form>